.explain{
	padding: 50rpx 20rpx 100rpx;
	line-height: 40rpx;
}
.outLogin{
	width: 95%;
	margin: 0 auto;
	height: 80rpx;
	line-height: 80rpx;
	color: #fff;
	text-align: center;
	background: #39828b;
	border-radius: 12rpx;
}